{{!
	Implement comments section here: This will be dynamically added to each letter page
}}


<section class = "commenter">
	<div class = "field">
		<p class = "comment-text" >
			{{comment}}
		</p>
		<p class = "author-text">
			{{author}}
		</p>
	</div>
</section>





