{{!
	Display a single letter
}}

<article class="letter">
	<div class="letter-content">
        <p class="letter-attribution">
            <a href="/letters/{{letter}}"> {{letter}} </a>
        </p>
        <p class="letter-text">
            {{description}}
        </p>
    </div>
</article>
