<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alphabet</title>
    <style>
    	.site-title {
			font-size: 30px;
			font-family: "Times New Roman", Times, serif;
			color: white;
		    text-align: center;
		}

		a:hover, a:visited, a:link, a:active {
		    text-decoration: none;
		}

		.alphabet-container {
		    text-align: center;
		    display: flex;
		    flex-wrap: wrap;
		}
		
		.letter-content {
			width: 250px;
		 	height: 150px;
			margin: 10px;
		    background-color: dodgerblue;
			position: relative;
			display: block;
		}

		.letter-text {
		  	font-size: 20px;
		  	color: whitesmoke;
		  	text-align: center;
		}

		.letter{
			font-size: 30px;
  			display: flex; /* where this goes */
			flex: 0 1 25%;	
		}

		body {
  			background-color: grey;
  			margin: 0;
  			padding: 0;
		}
	</style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">

  </head>

  <body>
  {{{body}}}
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="/twitTemplate.js"></script>
  <script src="/index.js"></script>

</html>
