{{!
	Implement the individual page for C
}}

{{> header}}


{{> button}}

<p class="message">Crown</p>
<img src="/crown.jpg" height="250px" width"250px"></img>

{{> commentButton}}



<h1 class = "comment-header hidden">Comments Here</h1>

<main class = "comment-container">

	{{#each commentField}}
		{{> comment}}
	{{/each}}


</main>