{{!
	Implement the individual page for I
}}

{{> header}}


{{> button}}

<p class="message">Ice Cream</p>
<img src="/ice-cream.jpg" height="250px" width"250px"></img>

{{> commentButton}}


<h1 class = "comment-header hidden">Comments Here</h1>

<main class = "comment-container">

	{{#each commentField}}
		{{> comment}}
	{{/each}}


</main>
