{{!
	Implement the individual page for J
}}

{{> header}}


{{> button}}

<p class="message">JHIN: 4!</p>
<img src="/jhin.png" height="250px" width"250px"></img>

{{> commentButton}}


<h1 class = "comment-header hidden">Comments Here</h1>

<main class = "comment-container">

	{{#each commentField}}
		{{> comment}}
	{{/each}}


</main>
