{{!
	Implement the individual page for L
}}

{{> header}}


{{> button}}
	
<p class="message">League of Legends FeelsGoodMan</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/w5BHjSGCj1o" frameborder="0" allowfullscreen></iframe>

{{> commentButton}}
