{{!
	Implement the individual page for N
}}

{{> header}}


{{> button}}
	
<p class="message">NARUTO</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bmDDvghJOw8" frameborder="0" allowfullscreen></iframe>

{{> commentButton}}
