{{!
	Implement the individual page for N
}}

{{> header}}


{{> button}}
	
<p class="message">POKEMON</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/JuYeHPFR3f0" frameborder="0" allowfullscreen></iframe>

{{> commentButton}}



<h1 class = "comment-header hidden">Comments Here</h1>

<main class = "comment-container">

	{{#each commentField}}
		{{> comment}}
	{{/each}}


</main>