{{!
	Implement the individual page for R
}}

{{> header}}

{{> button}}

<p class="message"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">REFRESH THIS PAGE BY CLICKING ME<a></p>

{{> commentButton}}



<h1 class = "comment-header hidden">Comments Here</h1>

<main class = "comment-container">

	{{#each commentField}}
		{{> comment}}
	{{/each}}


</main>