{{!
	Implement the individual page for S
}}

{{> header}}


{{> button}}

<p class="message">School</p>
<img src="/OSU.jpg" height="250px" width"250px"></img>

{{> commentButton}}



<h1 class = "comment-header hidden">Comments Here</h1>

<main class = "comment-container">

	{{#each commentField}}
		{{> comment}}
	{{/each}}


</main>