{{!
	Implement the individual page for Z
}}

{{> header}}


{{> button}}
	
<p class="message">Dragon Ball Z</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/GHnfX1RmZX8" frameborder="0" allowfullscreen></iframe>

{{> commentButton}}
