/* css here */
.site-title {
    background-color: green;
    top: 50%;
    margin: 0;
    font-size: 30px;
    height: 50px; 
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-align: center;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: red;
    font-size: 18px;
    line-height: 30px;
}

.navlist {
    margin: 0 0 0 20px;
    padding: 0;
}

.navitem {
    display: inline-block;
}

.navlink a {
    padding: 8px 5px;
    display: inline-block;
}

.navlink.active {
    box-shadow: inset 0 -5px #319df6;
}

.alphabet-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.letter-content {
    width: 250px;
    height: 150px;
    margin: 10px;
    background-color: dodgerblue;
    position: relative;
    display: block;
}

.letter-text {
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

.letter{
    font-size: 30px;
    display: flex; /* where this goes */
    flex: 0 1 25%;  
}

.error-container{
    text-align: center;
}

.button{
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: pink;
}

a.dropdown-content{
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover{
    background-color: pink;
}

.button:hover .dropdown-content{
    position: absolute;
    display: block;
}

.button-click{
    display: block;
    height: 200px;
    width: 200px;
    background-color: dodgerblue;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    bottom: -150px;
    margin: 0 auto;     
}

p.message{
    visibility: hidden;
    font-size: 50px;
    text-align: center;
    position: relative;
}

iframe{
    display: none;
    margin: 0 auto;
    bottom: -100px;
}

img{
    display: none;
    margin: 0 auto;
    bottom: -100px;
}

#comment-button {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 10;
    width: 64px;
    height: 64px;
    background-color: red;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 40px;
    font-weight: 200;
    padding: 0 0 8px 0;
    cursor: pointer;
    outline: none;
    display: none;
}

#comment-button:hover {
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.33);
}


#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#comment-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
}

.modal-close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

.input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}

.input-element label {
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
}

.input-element input,
.input-element textarea {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #aaa;
}

.input-element textarea {
    min-height: 64px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
    font-size: 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
    background-color: #eee;
}

.modal-footer .modal-accept-button {
    background-color: #2464f5;
    color: #fff;
}

.modal-footer .modal-accept-button:hover {
    background-color: #5481e4;
}

.comment-header{
    background-color: blueviolet;
    border: 1px black;
    width: 100%;
    text-align: center;
}

.hidden .comment-header{
    display: none;
}

.comment-container{
    display: flex;
    flex-wrap: wrap;
}

.commenter{
    display: flex;
    margin: 2px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: orange;
    width: 100%;
}

.field{
    flex: 1 1 80%;
    margin-left: 10px;
}

.field p{
    margin: 0;
}

.field .author-text{
    margin-top: 8px;
    text-align: right;
    font-weight: bold;
}

.hidden {
    display: none;
}

body{
    background-color: grey;
    margin: 0;
    padding: 0;
}
